 body {
    background-color: darkturquoise;
    font-family: cursive;
    text-align: center;
    margin: 40px auto;
    padding: 40px;
    max-width: 700px;             
    border: 3px solid white;  
    border-radius: 15px;  
    text-align: center;
    }   
video, iframe {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    }
section {
    margin-bottom: 30px;
    padding: 15px;
    border: 2px solid white;      
    border-radius: 10px;
}
#p {
    max-width: 700px;
    margin: 10px auto 20px;      
    line-height: 1.6;             
    text-align: left;          
    }